// variables
@import '//at.alicdn.com/t/font_1301626_hnk26fxki74.css';
$theme-color: #ffcd32;
$background-color: #222;
$font-color:rgba(255,255,255,.5);
$font-size-middle:14px;
$font-size-small:12px;
$font-size-h:16px;
//at.alicdn.com/t/font_1301626_b1ooyjl56pu.css